<script>
import DinnerList from './DinnerList.vue'
import ExportActions from './ExportActions.vue'

export default {
    components: { DinnerList, ExportActions },
    data() {
        return {
            dietData: {
                names: new Set(),
                dietId: null,
                week: new Set(),
                meals: {},
                fetchDietKey: 0
            }
        }
    }
}
</script>

<template>
    <div class="container">
        <dinner-list :dietData="dietData" />
        <export-actions :dietData="dietData" />
    </div>
    <div class="footer"></div>
</template>

<style scoped>
.footer {
    height: 240px;
}
</style>
