<script>
import Meals from './Meals.vue'

export default {
  components: { Meals },
  props: {
    dietData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      meals: [],
      dietId: null,
    }
  },
  methods: {
    async getData() {
      const response = await this.axios.get(
        import.meta.env.VITE_APP_BASE_API + "/api/diet/dinner-list"
      ).catch(function (error) {
        console.log(error);
      })
      this.meals = response.data;
      this.dietData.dietId = this.meals[0].diet_id
    },
  },
  created() {
    this.getData();
  }
}
</script>

<template>
  <div>
    <select v-model="dietData.dietId">
      <option v-for="meal in meals" :value="meal.diet_id">
        {{ meal.name }}
      </option>
    </select>
  </div>
  <div v-if="dietData.dietId">
    <Meals :dietData="dietData" />
  </div>
</template>

<style scoped></style>
