<script>
export default {
  props: {
    dietData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      multiplier: import.meta.env.VITE_MULTIPLIER,
      checked: JSON.parse(import.meta.env.VITE_CHECKED_MEALS),
      exportData: {},
    }
  },
  updated() {
    this.exportData = {}
  },
  methods: {
    async changeValue(event, value) {
      var input = event.target.parentElement.children[1]
      var elementValue = parseInt(input.innerText)
      var result = elementValue + value
      if (result >= 1 && result <= 9)
        input.innerText = result

      this.updateMultiplier(event)
    },
    async getDayData(event) {
      var el = event.target

      var parent = el.closest(".day")
      var isEnabled = parent.querySelector(".is-enabled").checked
      var multiplier = parent.querySelector(".multiplier").innerText
      var dayName = parent.querySelector(".day-name").innerText
      var personName = parent.closest(".person").querySelector(".name").innerText

      return {
        parent, isEnabled, multiplier, dayName, personName
      }
    },
    async updateDay(event) {
      var { parent, isEnabled, multiplier, dayName, personName } = await this.getDayData(event)

      if (this.exportData[personName] === undefined) {
        this.exportData[personName] = {}
      }

      if (isEnabled) {
        this.exportData[personName][dayName] = {
          multiplier: multiplier,
          meals: Array()
        }
      }
      else {
        delete this.exportData[personName][dayName]
      }

      for (var item of parent.getElementsByClassName("meal")) {
        var mealName = item.parentNode.innerText
        var isChecked = isEnabled && this.checked[mealName.substring(0, 1)]
        item.checked = isChecked
        item.disabled = !isEnabled
        if (isChecked) {
          this.exportData[personName][dayName].meals.push(item.value)
        }
      }
    },
    async updateMultiplier(event) {
      var { isEnabled, multiplier, dayName, personName } = await this.getDayData(event)
      if (isEnabled) {
        this.exportData[personName][dayName].multiplier = multiplier
      }
    },
    async updateMeal(event) {
      var { isEnabled, dayName, personName } = await this.getDayData(event)
      if (isEnabled) {
        var mealId = event.target.value
        this.exportData[personName][dayName].meals.push(mealId)
      }
    },
    async exportMeals() {
      var data = []
      Object.values(this.exportData).forEach(function (person) {
        Object.values(person).forEach(function (item) {
          data.push(item)
        })

      })
      await this.axios.post(
        import.meta.env.VITE_APP_BASE_API + "/api/diet/export", data
      ).catch(function (error) {
        console.log(error)
      });
    }
  }
}
</script>

<template>
  <div id="actions" :key="this.dietData.fetchDietKey">
    <div class="box">
      <div class="person" v-for="person in dietData.names">
        <div class="name">{{ person }}</div>
        <div class="day" v-for="day in dietData.week" :key="day">
          <div><label class="day-name"><input class="is-enabled" @click="updateDay" type="checkbox" :value="day" />{{
            day.substring(0, 2)
          }}</label>
            <span class="multiplier-wrapper">
              <button @click="changeValue($event, 1)" class="plus">+</button>
              <span class="multiplier">{{ multiplier }}</span>
              <button @click="changeValue($event, -1)" class="minus">-</button>
            </span>
          </div>
          <hr />
          <div v-for="meal in dietData.meals[person][day]" :key="meal.meal_id">
            <label>
              <input @click="updateMeal" class="meal" type="checkbox" :value="meal.meal_id" disabled />{{
                meal.time.substring(0, 6) }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div>
        <button @click="exportMeals">Export</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
#actions {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 230px;
  background-color: #e0e0e0;
  border-width: 1px 0px;
  border-style: solid;
}

.box {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.name {
  margin: 0px 5px;
}

.day {
  display: inline-block;
  border: 1px solid;
  margin: 5px;
}

.multiplier-wrapper button {
  background-color: #ffffff;
  padding: 0px 3px;
  margin: 0px 3px;
  border: 0;
  font-weight: bold;

}

.multiplier {
  width: 6px;
  font-weight: initial;
}

.person {
  margin: 10px 10px;
}

.buttons button {
  font-size: 16px;
  margin: 5px;
}
</style>