<script>
import PersonMeals from './PersonMeals.vue'

export default {
  components: { PersonMeals },
  props: {
    dietData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      diets: [],
    }
  },
  methods: {
    async getDiets() {
      const response = await this.axios.get(
        import.meta.env.VITE_APP_BASE_API + "/api/diet/" + this.dietData.dietId + "/all-meals"
      ).catch(function (error) {
        console.log(error);
      })
      this.diets = response.data
      this.dietData.fetchDietKey += 1;
    },
    pushName(name) {
      this.dietData.names.add(name)
    },
    pushWeek(week) {
      if (!this.dietData.week.length) {
        this.dietData.week = week
      }
    },
    addMealIds(person_name, meals) {
      this.dietData.meals[person_name] = meals
    }
  },
  computed: {
    dietId() {
      return this.dietData.dietId
    }
  },
  watch: {
    dietId() { this.getDiets() }
  },
  created() {
    this.getDiets()
  },
}
</script>

<template>
  <div class="container" :key="this.dietData.fetchDietKey">
    <div v-for="person_meals in diets.person_meals" :key="person_meals.person_name">
      <person-meals :person_meals="person_meals" :dietId="dietData.dietId" @sendName.once="pushName"
        @sendWeek.once="pushWeek" @sendMealIds="addMealIds" />
    </div>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2em;
  padding: 0;
  margin: 0;
}

.container div {
  flex-grow: 0.2;
}
</style>