<script>
export default {
  props: {
    person_meals: {
      type: Object,
      required: true
    },
    dietId: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.$emit('sendName', this.$refs.personName.innerText)
    var week = new Set()
    this.$refs.days.forEach(el => week.add(el.innerText))
    this.$emit('sendWeek', week)
    this.emitMealIds()
  },
  methods: {
    emitMealIds() {
      var result = {}
      this.person_meals.days.forEach(function (day) {
        var meals = Array()
        result[day.day] = meals
        day.meals.forEach(function (meal) {
          var meal_item = {}
          meal_item.meal_id = meal.meal_id
          meal_item.time = meal.time
          meals.push(meal_item)
        })
      })
      this.$emit("sendMealIds", this.person_meals.person_name, result)
    }
  },
  watch: {
    dietId() { this.emitMealIds() }
  },
}
</script>

<template>
  <div>
    <h1 class="person-name" ref="personName">{{ person_meals.person_name }}</h1>
    <div class="day" v-for="day in person_meals.days" :key="day.day">
      <h3 class="day-name" ref="days">{{ day.day }}</h3>
      <div class="meal" v-for="meal in day.meals">
        <div><b>{{ meal.time }}</b>: {{ meal.name }}</div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.day-name {
  margin: 10px 0px;
}

.person-name {
  font-size: 20px;
}

.day .meal:nth-child(4) {
  background-color: rgb(95, 95, 95);
  width: fit-content;
}

.meal {
  white-space: nowrap;
  overflow: hidden;
}

.day {
  background-color: #41836e;
  color: white;
  padding: 0px 10px;
}
</style>